div(ng-controller='MapCtrl')
  .map-container#map
  .map-layers-holder
    .map-layers-title
        p MAP LAYERS
    .map-layers-content
      .layers-choropleth-layers
        .map-layer(ng-repeat='layer in mapLayers.choroplethLayers')
          p {{layer}}
          input(type='checkbox')
      .layers-pointLinePolygonal-layers
        .map-layer(ng-repeat='layer in mapLayers.pointLinePolygonalLayers')
          p {{layer}}
          input(type='checkbox')
