div(ng-controller='MapCtrl')
  .nav.info-nav
    i.fa.fa-info-circle.fa-2x(ng-click='showProjectInfoModal()')
  .nav.bars-nav
    i.fa.fa-bars.fa-2x(ng-click='showOverlayNavigation()')

  .overlay-nav
    .close-overlay
      i.fa.fa-times.fa-2x(ng-click='closeOverlayNavigation()')
    .overlay-content
      p(ng-repeat='layer in mapLayers.choroplethMapLayer' ng-click='selectChoroplethMapLayerMobile(layer)') {{layer.displayValue}}
      p(ng-click='getMapLayerSelectedMobile(existingLandmarks)') {{existingLandmarks.displayValue}}
      p(ng-repeat='layer in mapLayers.pointLinePolygonalMapLayer' ng-click='getMapLayerSelectedMobile(layer)' ng-if='layer.modelValue !== "existingLandmarks" && layer.modelValue !== "existingHistoricDistricts"') {{layer.displayValue}}

  .zoom-out-buttons
    button.twoAndThree-button(title='The 2/3 Express train to Harlem! Click here to zoom to Harlem.' ng-click='zoomToHarlem()')
      img(src='images/2and3.png')
    button(title='Click here to zoom to all of Mahattan.' ng-click='zoomToAllManhattan()')
      img(src='images/manhattan_shn.png')


  .legends-holder

  .map-container#map
  .map-layers-holder
    .map-layers-title
        p MAP LAYERS
    .toggle-choropleth
      p Toggle Choropleth Layers
      md-switch(ng-model='choroplethLayersVisibility' ng-click='enableChoroplethLayers(choroplethLayersVisibility)' aria-label='Toggle Choropleth Layers')


    .map-layers-content
      .layers-choropleth-layers
        .map-layer(ng-repeat='layer in mapLayers.choroplethMapLayer')
          p {{layer.displayValue}}
          input(type='radio' name='choropleth' value='{{layer.modelValue}}' ng-model='selectedChroplethMapLayer' ng-click='turnOnChoroplethMapLayer(layer)' class='{{layer.modelValue}}')
      .layers-pointLinePolygonal-layers
        .map-layer
            p {{existingLandmarks.displayValue}}
            input(type='checkbox' name='{{existingLandmarks}}' ng-model='selectedMapLayers[layer.modelValue]' ng-click='getMapLayerSelected(existingLandmarks)')
        .map-layer(ng-repeat='layer in mapLayers.pointLinePolygonalMapLayer' ng-if='layer.modelValue !== "existingLandmarks" && layer.modelValue !== "existingHistoricDistricts"')
            p {{layer.displayValue}}
            input(type='checkbox' name='{{layer}}' ng-model='selectedMapLayers[layer.modelValue]' ng-click='getMapLayerSelected(layer)')




