div(ng-controller='MapCtrl')
  .nav.info-nav
    i.fa.fa-info-circle.fa-2x(ng-click='showAboutInfoModal()')
  .nav.bars-nav
    i.fa.fa-bars.fa-2x(ng-click='showOverlayNavigation()')


  .overlay-nav
    .close-overlay
      i.fa.fa-times.fa-2x(ng-click='closeOverlayNavigation()')
    .overlay-content
      p(ng-repeat='layer in mapLayers.choroplethMapLayer' ng-click='getMapLayerSelectedMobile(layer)') {{layer.displayValue}}
      p(ng-repeat='layer in mapLayers.pointLinePolygonalMapLayer' ng-click='getMapLayerSelectedMobile(layer)') {{layer.displayValue}}


  .legends-holder

  .map-container#map
  .map-layers-holder
    .map-layers-title
        p MAP LAYERS
    .map-layers-content
      .layers-choropleth-layers
        .map-layer(ng-repeat='layer in mapLayers.choroplethMapLayer')
          p {{layer.displayValue}}
          input(type='checkbox' name='{{layer}}' ng-model='selectedMapLayers[layer.modelValue]' ng-click='getMapLayerSelected(layer)' class='{{layer.modelValue}}')
      .layers-pointLinePolygonal-layers
        .map-layer(ng-repeat='layer in mapLayers.pointLinePolygonalMapLayer')
          p {{layer.displayValue}}
          input(type='checkbox' name='{{layer}}' ng-model='selectedMapLayers[layer.modelValue]' ng-click='getMapLayerSelected(layer)')




