div(ng-controller='MapCtrl')
  script(type='infowindow/html' id='{{layer.modelValue}}' ng-repeat='layer in mapLayers.choroplethLayers')
    .cartodb-popup
      a(href='#close' class='cartodb-popup-close-button close')
      .cartodb-popup-content-wrapper
        .cartodb-popup-content
          p {{cartodb_id}}
      .cartodb-popup-tip-container

  script(type='infowindow/html' id='{{layer.modelValue}}' ng-repeat='layer in mapLayers.choroplethLayers')
    .cartodb-popup
      a(href='#close' class='cartodb-popup-close-button close')
      .cartodb-popup-content-wrapper
        .cartodb-popup-content
          p  {{cartodb_id}}
      .cartodb-popup-tip-container

  .map-container#map
  .map-layers-holder
    .map-layers-title
        p MAP LAYERS
    .map-layers-content
      .layers-choropleth-layers
        .map-layer(ng-repeat='layer in mapLayers.choroplethLayers')
          p {{layer.displayValue}}
          input(type='checkbox' name='{{layer}}' ng-model='selectedMapLayers[layer.modelValue]' ng-click='getMapLayerSelected(layer)')
      .layers-pointLinePolygonal-layers
        .map-layer(ng-repeat='layer in mapLayers.pointLinePolygonalLayers')
          p {{layer.displayValue}}
          input(type='checkbox' name='{{layer}}' ng-model='selectedMapLayers[layer.modelValue]' ng-click='getMapLayerSelected(layer)')


