div(ng-controller='MapCtrl')
  script(type='infowindow/html' id='{{layer.modelValue}}' ng-repeat='layer in mapLayers.choroplethLayers')
    .cartodb-popup
      a(href='#close' class='cartodb-popup-close-button close')
      .cartodb-popup-content-wrapper
        .cartodb-popup-content
      .cartodb-popup-tip-container

  script(type='infowindow/html' id='{{layer.modelValue}}' ng-repeat='layer in mapLayers.choroplethLayers')
    .cartodb-popup
      a(href='#close' class='cartodb-popup-close-button close')
      .cartodb-popup-content-wrapper
        .cartodb-popup-content
          p  {{cartodb_id}}
      .cartodb-popup-tip-container

  .nav.info-nav
    i.fa.fa-info-circle.fa-2x(ng-click='showAboutInfoModal()')
  .nav.bars-nav
    i.fa.fa-bars.fa-2x(ng-click='showOverlayNavigation()')

  .overlay-nav
    .close-overlay
      i.fa.fa-times.fa-2x(ng-click='closeOverlayNavigation()')
    .overlay-content
      p(ng-repeat='layer in mapLayers.choroplethLayers'  ng-click='getMapLayerSelected(layer)') {{layer.displayValue}}
      p(ng-repeat='layer in mapLayers.pointLinePolygonalLayers') {{layer.displayValue}}

  .legends-holder
    #zoning.legend
      .title Zoning
      .range
        p R7-2
        span(style='background: #5f4690')
      .range
        p R8-B
        span(style='background: #1D6996')
      .range
        p R7A
        span(style='background: #38A6A5')
      .range
        p R8
        span(style='background: #0F8252')
      .range
        p C6-2A
        span(style='background: #73AF48')
      .range
        p R6
        span(style='background: #EDAD08')
      .range
        p R8A
        span(style='background: #E17C05')
      .range
        p R7B
        span(style='background: #CC503E')
      .range
        p R6A
        span(style='background: #8F326B')
      .range
        p R10
        span(style='background: #6F4070')
      .range
        p OTHERS
        span(style='background: #6E6E6E')







  .map-container#map
  .map-layers-holder
    .map-layers-title
        p MAP LAYERS
    .map-layers-content
      .layers-choropleth-layers
        .map-layer(ng-repeat='layer in mapLayers.choroplethLayers')
          p {{layer.displayValue}}
          input(type='checkbox' name='{{layer}}' ng-model='selectedMapLayers[layer.modelValue]' ng-click='getMapLayerSelected(layer)')
      .layers-pointLinePolygonal-layers
        .map-layer(ng-repeat='layer in mapLayers.pointLinePolygonalLayers')
          p {{layer.displayValue}}
          input(type='checkbox' name='{{layer}}' ng-model='selectedMapLayers[layer.modelValue]' ng-click='getMapLayerSelected(layer)')




