div(ng-controller='MapCtrl')
  script#existingLandmarks(type='infowindow/html')
    .cartodb-popup.v2
      .infowindow-custom
        a.cartodb-popup-close-button.close(href='#close') x
        div
          .cartodb-popup-content-wrapper
            .cartodb-popup-content
              h4 LINK TO BUILDING IMAGE
              p
                a(href='{{content.data.link_to_building_image}}' target='_blank')
                  img(src='{{content.data.link_to_building_image}}' width='80px' style='height: auto; width: 100%')
              h4 LANDMARK NAME
              p {{content.data.landmark_name}}
              h4 LANDMARK PRESERVATION NUMBER
              p {{content.data.landmark_preservation_number}}
              h4 ADDRESS
              p {{content.data.address}}
              h4 LANDMARK TYPE
              p {{content.data.landmark_type}}
              h4 STATUS
              p {{content.data.status}}
              h4 CONSTRUCTION YEAR
              p {{content.data.construction_year}}
              h4 BBL
              p {{content.data.bbl}}
              h4 LINK TO PDF DOCUMENT
              p
                a(href='{{content.data.link_to_pdf_document}}' target='_blank') {{content.data.link_to_pdf_document}}

  script#existingHistoricDistricts(type='infowindow/html')
    .cartodb-popup.v2
      .infowindow-custom
        a.cartodb-popup-close-button.close(href='#close') x
        div
          .cartodb-popup-content-wrapper
            .cartodb-popup-content
              h4 LINK TO BUILDING IMAGE
              p
                a(href='{{content.data.link_to_building_image}}' target='_blank')
                  img(src='{{content.data.link_to_building_image}}' width='80px' style='height: auto; width: 100%')
              h4 NAME
              p {{content.data.name}}
              h4 LANDMARK PRESERVATION NUMBER
              p {{content.data.landmark_preservation_number}}
              h4 DESIGNATION DATE
              p {{content.data.designation_date}}
              h4 LINK TO PDF DOCUMENT
              p
                a(href='{{content.data.link_to_pdf_document}}' target='_blank') {{content.data.link_to_pdf_document}}

  script#pluralityGroupsPercentOfPopulation(type='infowindow/html')
    .cartodb-popup.v2
      .infowindow-custom
        a.cartodb-popup-close-button.close(href='#close') x
        div
          .cartodb-popup-content-wrapper
            .cartodb-popup-content
              h4 LARGEST RACIAL OR ETHINC GROUP
              p(style='text-transform: capitalize') {{content.data.largest_racial_or_ethnic_group}}
              h4 PERCENT OF POPULATION
              p.percentOfPopulation {{content.data.percent_of_population}}




  .nav.info-nav
    i.fa.fa-info-circle.fa-2x(ng-click='showProjectInfoModal()')
  .nav.bars-nav
    i.fa.fa-bars.fa-2x(ng-click='showOverlayNavigation()')

  .overlay-nav
    .close-overlay
      i.fa.fa-times.fa-2x(ng-click='closeOverlayNavigation()')
    .overlay-content
      p(ng-repeat='layer in mapLayers.choroplethMapLayer' ng-click='selectChoroplethMapLayerMobile(layer)') {{layer.displayValue}}
      p(ng-click='getMapLayerSelectedMobile(existingLandmarks)') {{existingLandmarks.displayValue}}
      p(ng-repeat='layer in mapLayers.pointLinePolygonalMapLayer' ng-click='getMapLayerSelectedMobile(layer)' ng-if='layer.modelValue !== "existingLandmarks" && layer.modelValue !== "existingHistoricDistricts"') {{layer.displayValue}}

  .zoom-out-buttons
    button.twoAndThree-button(title='The 2/3 Express train to Harlem! Click here to zoom to Harlem.' ng-click='zoomToHarlem()')
      img(src='images/2and3.png')
    button(title='Click here to zoom to all of Mahattan.' ng-click='zoomToAllManhattan()')
      img(src='images/manhattan_shn.png')


  .legends-holder

  .map-container#map
  .map-layers-holder
    .map-layers-title
        p MAP LAYERS

    .map-layers-content
      .layers-choropleth-layers
        .map-layer(ng-repeat='layer in mapLayers.choroplethMapLayer')
          p {{layer.displayValue}}
          input(type='radio' name='choropleth' value='{{layer.modelValue}}' ng-model='selectedChroplethMapLayer' ng-click='turnOnChoroplethMapLayer(layer)' class='{{layer.modelValue}}')
      .toggle-choropleth
        p Turn off layers above
        md-switch(ng-model='choroplethLayersVisibility' ng-click='enableChoroplethLayers(choroplethLayersVisibility)' aria-label='Toggle Choropleth Layers')
      .layers-pointLinePolygonal-layers
        .map-layer
            p {{existingLandmarks.displayValue}}
            input(type='checkbox' name='{{existingLandmarks}}' ng-model='selectedMapLayers[layer.modelValue]' ng-click='getMapLayerSelected(existingLandmarks)')
        .map-layer(ng-repeat='layer in mapLayers.pointLinePolygonalMapLayer' ng-if='layer.modelValue !== "existingLandmarks" && layer.modelValue !== "existingHistoricDistricts"')
            p {{layer.displayValue}}
            input(type='checkbox' name='{{layer}}' ng-model='selectedMapLayers[layer.modelValue]' ng-click='getMapLayerSelected(layer)')




