@import 'reset';
@import 'override-carto-styles';
@import 'reusable-components';
body {
    margin: 0;
    font-family: 'Oxygen', sans-serif;
}

nav {
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(186, 186, 186, 0.5);
}

.nav {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
}

.info-nav {
    justify-content: flex-end;
    i {
        margin-right: 20px;
        color: #1B2D41;
        cursor: pointer;
        outline: none;
        z-index: 10;
    }
}

.bars-nav {
    justify-content: flex-end;
    display: none;
    i {
        color: #1B2D41;
        margin-right: 20px;
        cursor: pointer;
        outline: none;
    }
}

.bars-nav {}

.map-container {
    position: absolute;
    top: 60px;
    width: 100%;
    height: 94%;
}

.map-layers-holder {
    width: 300px;
    position: fixed;
    top: 120px;
    right: 50px;
    .map-layers-title {
        height: 40px;
        font-family: 'Oxygen', sans-serif;
        font-size: 18px;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;
        @extend .card;
    }
    .toggle-choropleth {
        margin-top: 15px;
        font-size: 14px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @extend .card;
        md-switch {
            margin: 0;
        }
    }
    .map-layers-content {
        margin-top: 10px;
        .layers-choropleth-layers {
            @extend .card;
            padding: 0 10px;
        }
        .layers-pointLinePolygonal-layers {
            margin-top: 15px;
            padding: 0 10px;
            @extend .card;
        }
    }
}

.md-dialog-container {
    background: rgba(123, 125, 126, .7);
    z-index: 1000001;
}

.project-info-modal {
    width: 32%;
    border-radius: 0;
    padding: 0 25px;
    box-sizing: border-box;
    border: 3px solid #1B2D41;
    .close-modal {
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        i {
            cursor: pointer;
            outline: none;
        }
    }
    .title {
        text-align: center;
        font-size: 24px;
        padding: 12px 0;
        font-weight: bolder;
        color: #1B2D41;
        border-bottom: 1px solid #A8A9A8;
    }
    .content {
        padding: 20px 0;
        margin-bottom: 25px;
        line-height: 2.2;
    }
}

.about-info-modal {
    width: 40%;
    border-radius: 0;
    md-dialog-content {
        md-tabs {
            height: 50%;
            .tab {
                background: none;
                padding: 30px 40px;
                height: 100% !important;
            }
            .about-tab-content {
                p {
                    line-height: 1.4;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.md-tab.md-active {
    color: #fff !important;
    background: #19293A;
}

md-tabs.md-default-theme md-ink-bar,
md-tabs md-ink-bar {
    color: #787878;
    background: #787878;
}

.overlay-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
    .close-overlay {
        display: flex;
        justify-content: flex-end;
        i {
            color: #fff;
            outline: none;
            cursor: pointer;
            margin-right: 20px;
            margin-top: 20px;
        }
    }
    .overlay-content {
        position: relative;
        text-align: center;
        width: 100%;
        top: 7%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        p {
            outline: none;
            cursor: pointer;
            color: #fff;
            font-weight: bolder;
            text-transform: uppercase;
            margin: 8px 0;
            transition: 0.2s;
        }
    }
}

.zoom-out-buttons {
    position: absolute;
    z-index: 2;
    left: 10px;
    top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
        background: transparent;
        outline: none;
        border: none;
        padding: 0px;
        img {
            width: 60px;
        }
    }
    .twoAndThree-button {
        margin-bottom: 10px;
    }
}

.legends-holder {
    position: absolute;
    z-index: 2;
    bottom: 40;
    left: 20;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.239216) 0px 2px 4px 0px;
    border-radius: 4px;
    max-height: 540px;
    overflow-y: auto;
}

.legend {
    padding: 16px;
    width: 192px;
    background: #fff;
    // margin-bottom: 25px;
    border-bottom: 1px solid #AAAAAA;
    .title {
        font-size: 12px;
        margin-bottom: 12px;
    }
    .range {
        font-size: 10px;
        display: flex;
        justify-content: space-between;
        color: #2E3C43;
        margin-bottom: 4px;
        span {
            width: 8px;
            height: 8px;
            border-radius: 50%;
        }
    }
    .bar {
        width: 100%;
        height: 8px;
        border-radius: 4px;
        margin-bottom: 10px;
    }
    .median-household-income-bar {
        background: linear-gradient(90deg, #edf8fb, #b3e2e2, #6ac1a4, #33a161, #0c6c2f);
    }
    .percent-female-bar {
        background: linear-gradient(90deg, #ffc6c4, #ee919b, #cc607d, #9e3963, #672044)
    }
    .development-potential-bar {
        background: linear-gradient(90deg, #f9ddda, #f2b9c4, #e597b9, #ce78b3, #ad5fad, #834ba0, #573b88);
    }
    .median-age-bar {
        background: linear-gradient(90deg, #ffc6c4, #ee919b, #cc607d, #9e3963, #672044);
    }
    .percent-owner-occupied-bar {
        background: linear-gradient(90deg, #ffc6c4, #ee919b, #cc607d, #9e3963, #672044);
    }
    .plurality-white-bar {
        background: linear-gradient(90deg, #ffc6c4, #ee919b, #cc607d, #9e3963, #672044);
    }
    .plurality-black-bar {
        background: linear-gradient(90deg, #E4F1E1, #9CCDC1, #63A6A0, #337F7F, #0D585F);
    }
    .plurality-asian-bar {
        background: linear-gradient(90deg, #f3e0f7, #dbbaed, #b998dd, #9178c4, #63589f);
    }
    .plurality-latino-bar {
        background: linear-gradient(90deg, #f1eef6, #bdc9e1, #74a9cf, #2b8cbe, #045a8d);
    }
    .plurality-two-plus-bar {
        background: linear-gradient(90deg, #f7f7f7, #cccccc, #969696, #636363, #252525);
    }
}

@media (max-width: 425px) {
    .map-layers-holder {
        display: none;
    }
    .info-nav {
        justify-content: flex-start;
        padding-left: 20px;
        box-sizing: border-box;
    }
    .bars-nav {
        display: flex;
    }
    .legend {
        display: none;
    }
    .project-info-modal {
        width: 100%;
        padding: 0 15px;
        .content {
            margin-bottom: 0;
            font-size: 14px;
        }
    }
}
